[submodule "airbnb-clone-project"]
	path = airbnb-clone-project
	url = https://github.com/hshaboury/airbnb-clone-project.git
[submodule "requirement-analysis"]
	path = requirement-analysis
	url = https://github.com/hshaboury/requirement-analysis.git
[submodule "wireframing"]
	path = wireframing
	url = https://github.com/hshaboury/wireframing.git
[submodule "LocalRepoProject"]
	path = LocalRepoProject
	url = https://github.com/hshaboury/LocalRepoProject.git
[submodule "GitHubCloneProject"]
	path = GitHubCloneProject
	url = https://github.com/hshaboury/GitHubCloneProject.git
[submodule "JS-Fundamentals"]
	path = JS-Fundamentals
	url = https://github.com/hshaboury/JS-Fundamentals.git
[submodule "My_First_Portfolio"]
	path = My_First_Portfolio
	url = https://github.com/hshaboury/My_First_Portfolio.git
[submodule "TechCon_HTML"]
	path = TechCon_HTML
	url = https://github.com/hshaboury/TechCon_HTML.git
